* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  background-color: black;
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.02em;
}

a{
  font-size: 18px;
  line-height: 20px;
  color: #8492A6;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/* .tab-menu {
  overflow: hidden;
} */

.tab-menu {
   max-width: 54px; /* 최대길이 */
  border-bottom: 1px solid #E5EAEF;
  background-color: white;
}

.tab-menu::after {
  content : ''; /* 필수 */
  display: block; /* clear를 사용하려면 display block !!꼭 */
  clear: left;
}

.tab-menu-item {
  float: left;
  margin-right: 16px;

}

.tab-menu-item a {
  display: block;
  padding: 16px 20px;
}

.tab-menu-item.selected {
  border-bottom: 2px solid #2860E1;
}

.tab-menu-item.selected a{
  color: selected;
  font-weight: 500;
}