*{
  box-sizing: border-box;
  margin: 0;
}

body {
  color: #212529;
}

.grandparent {
  width:  800px;
  margin: 0 auto;
  background-color: #1f2d3d;
}

.parent {
  width: 400px;
  margin: 0 auto;
  background-color: #eff2f7;
}


.child{
  width:200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

.red{
  background-color: red;
}

.yellow{
  background-color: yellow;
}

.blue {
  background-color: blue;
}


